@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-hue: 218;
    --text-color: white;
    --body-color: rgba(0, 0, 0, 0.068);
    --searchbar-background: rgba(255, 255, 255, 0.164);
    --lightcolor: rgba(255, 255, 255, 0.356);
}
body{
    position: relative;
    font-family: 'Palanquin', sans-serif;
}
nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.267);
    height: 4em;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    padding: 0% 10%;
    justify-content: space-between;
    backdrop-filter: blur(15px);
    z-index: 99;
}

nav .search-bar{
    height: 50%;
    min-width: 300px;
    border-radius: 20px;
    position: relative;
}
.searchInput{
    width: 100%;
    height: 100%;
    padding:0em 2em;
    border-radius: 20px;
    border: none;
    font-size: 1.02em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    outline: none;
    color: white;
    background-color: var(--searchbar-background);
}
.searchInput::placeholder{
    color: var(--text-color);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
}
.search-icon{
    display: inline;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}

.popular-card{
    height: 100%;
    width: 75%;
    display: flex;
    overflow-x: scroll;
}
.popular-card::-webkit-scrollbar {
    display: none;
  }
.nav-bar-content{
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
}
.popular-cities{
    min-width: 250px;
    border-left: 1px solid var(--text-color);
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    align-items: center;
    padding: 0em 1em;
}

.scroll button{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    font-weight: 500;
    background-color: var(--searchbar-background);
    color: var(--text-color);
    cursor: pointer;
}
.scroll button:hover{
    transform: scale(1.2);
    color: black;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.562);
}
.cel-and-far{
    color: var(--text-color);
    font-weight: 500;
    background-color: var(--searchbar-background);
    border-radius: 5px;
    width: 63.7709px;
}
.cel-and-far span{
    display: inline-block;
    padding: 0.25em 0.4em;
    width: 30px;
    cursor: pointer;

}
.activeState{
    background-color: var(--lightcolor);
    border-radius: 5px;
    color: rgb(0, 67, 190);
    font-weight: 800;
}
/* .cel-and-far span:hover{
    background-color: var(--lightcolor);
    border-radius: 5px;
    color: rgb(0, 67, 190);
    font-weight: 800;
} */
@media (max-width:900px){
    .nav-bar-content{
        display: none;
    }
    nav{
        justify-content: space-around;
    }
}

.container{
    padding: 5em 10%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-card{
    width: 100%;
    height: 31em;
    border: 1px solid rgba(0, 0, 0, 0.233);
    background-color: var(--body-color);
    backdrop-filter: blur(10px);
    margin-bottom: 2em;
    border-radius: 10px;
    padding: 2% 2%;
}

.city-details{
    display: flex;
    justify-content: space-between;
    padding: 0em 2em;
}
.city-name{
    display: inline-block;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 2em;
}
.city-time{
    display: inline-block;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 2em;
}

.temp{
    font-size: 7em;
    color: var(--text-color);
    text-align: center;
    font-weight: 600;
}
.temp p{
    display: inline;
    font-size: 0.6em;
}
.condition{
    display: flex;
    height: 40px;
    justify-content: center;
}
.condition p{
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    font-size: 200;
    color: var(--text-color);
    margin-right: 1em;
}
.icons{
    width: 40px;
    height: 40px;
    /* background-image: url(./icon/11n.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.weather-detail{
    display: inline-block;
    height: fit-content;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}
/* .two{
    background-image: url(./images/icons8-sun.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 40px;
    max-height: 40px;
} */
.wh{
    flex-basis: 50%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 8%;
}
.wh p{
    color: var(--text-color);
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 400;
}
p.data{
    font-size: 1.2em;
    font-weight: 400;
}

.overview-card{
    width: 100%;
    height: 18em;
    display:flex;
    overflow-x: scroll;
}
.overview-card::-webkit-scrollbar {
    display: none;
  }
.overview{
    position: relative;
}
.slide-overview{
    z-index: 909;
    top: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 1.2em;
    font-weight: 500;
    background-color: var(--searchbar-background);
    color: var(--text-color);
    cursor: pointer;
}
.slide-overview:hover{
    color: black;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.562);
}
.left-ovr{
    left: 0%;
    transform: translate(-50%,-50%);

}
.right-ovr{
    right: 0%;
    transform: translate(50%,-50%);
    
}
.week{
    min-width: 15em;
    height: 100%;
    border: 1px solid red;
    border-radius: 15px;
    margin-right: 1em;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.266);
    background-color: var(--body-color);
    backdrop-filter: blur(15px);
}
.dayName{
    color: white;
    font-size: 1.2em;
    font-weight: 400;
}
.overview-overview{
    padding: 0.5em;
    display: flex;
    align-items: center;
    margin: 1em 0em;
}
.overview-overview img{
    width: 35px;
    height: 35px;
    margin-right: 1em;
}
.overview-temp{
    color: white;
    font-weight: 500;
}
.ovr-wh{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 0.9em;
    font-weight: 300;
    padding: 0.5em 0em;
}




@media only screen and (max-width: 800px){
    .weather-detail{
        flex-direction: column;
    }
}